* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0699a6;
  --secondary-color: #9e8c6c;
  --font-color: #000000;

  --secondary-color-100: rgba(157, 139, 108, 0.1);
}

.header {
  width: 100%;
  height: 647px;
  background-color: var(--secondary-color-100);
}

.header-wrapper {
  padding: 180px 11.458%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.name {
  width: 635px;
  color: var(--font-color);
  font-size: 126px;
  line-height: 112px;
  text-align: center;
}

.header-triangle-container {
  width: 100%;
  overflow: hidden;
}
.header-triangle {
  width: 100%;
  height: 100px;
  border-left: 1920px solid var(--secondary-color-100);
  border-bottom: 100px solid transparent;
}

.maincontent {
  height: 1729px;
  margin: 90px 11.458%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftcontent {
  width: 31.5315%;
  background-color: rgba(154, 205, 50, 0.5);
}

.rightcontent {
  margin-left: 8.68%;
  width: 57.207%;
  background-color: rgba(216, 112, 147, 0.5);
}

.footer-triangle-container {
  width: 100%;
  overflow: hidden;
}
.footer-triangle {
  width: 100%;
  height: 100px;
  border-right: 1920px solid var(--secondary-color-100);
  border-top: 100px solid transparent;
}
.footer {
  height: 547px;
  background-color: var(--secondary-color-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  height: 258px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-me {
  color: var(--font-color);
  font-size: 66px;
  line-height: 82px;
  text-align: center;
}

.contact-me-me {
  font-weight: bolder;
}

.email {
  color: var(--primary-color);
  font-size: 36px;
  line-height: 46px;
  text-align: center;
}

.icon-wrapper {
  width: 243px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 1440px) {
  .name {
    width: 100%;
    padding-left: 75px;
    color: var(--font-color);
    font-size: 126px;
    line-height: 112px;
    text-align: center;
  }
}
